replicaCount: {{ ledger_helm_replicas }}

imagePullSecrets:
  - name: reg-docker-secrets

nodeSelector: {}

tolerations:
- effect: NoSchedule
  key: kubernetes.io/app
  operator: Equal
  value: scalardlpool

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: agentpool
          operator: In
          values:
          - scalardlpool
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values:
            - scalar-ledger
        topologyKey: kubernetes.io/hostname
      weight: 50

resources:
  requests:
    cpu: 1000m
    memory: 2Gi
  limits:
    cpu: 1500m
    memory: 3Gi
