[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=simple
ExecStart=/etc/prometheus/node_exporter/node_exporter --collector.systemd
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
