{{ template "chart.header" . }}

{{ template "chart.description" . }}
Current chart version is `{{ template "chart.version" . }}`

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
