apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "scalar-envoy.fullname" . }}
  labels:
    {{- include "scalar-envoy.labels" . | nindent 4 }}
spec:
  minReadySeconds: 120
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "scalar-envoy.selectorLabels" . | nindent 6 }}
  {{- with .Values.strategy }}
  strategy:
  {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "scalar-envoy.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      restartPolicy: Always
      terminationGracePeriodSeconds: 60
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
          - containerPort: 50051
          - containerPort: 50052
          - containerPort: 9001
          env:
          - name: admin_access_log_path
            value: "{{ .Values.envoyConfiguration.adminAccessLogPath }}"
          - name: scalardl_address
            value: "{{ .Values.envoyConfiguration.scalardlAddress }}"
          livenessProbe:
            httpGet:
              path: /ready
              port: 9001
            failureThreshold: 3
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /ready
              port: 9001
            failureThreshold: 3
            initialDelaySeconds: 20
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
