[Unit]
Description=cAdvisor
Requires=docker.service
After=docker.service
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=simple
ExecStart=/usr/local/bin/cadvisor -port 18080
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
